.page {
  margin: auto;
  justify-content: center;
  width: 600px;
}

.Post {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 250, 252);
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}

.Post-header,
.Post-footer {
  border-radius: 5px;
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}


.creat-post,
.publish-link,
.Form-button,
.delete-post,
.PostView-edit,
.Form-close {
  cursor: pointer;
  background-color: blueviolet;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.Form-close {
  width: fit-content;
  margin-left: auto;
  background-color: white;
}


.creat-post {
  justify-items: end;
}

.delete-post {
  background-color: red;
}

.publish-link {
  margin-right: auto;
  background-color: rgb(212, 200, 222);
  color: rgb(0, 0, 0);
  cursor: auto;
  margin-left: 5px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form-textarea {
  resize: none;
  width: 490px;
  margin-top: 10px;
  border-radius: 5px;
}

.post-content {
  text-decoration: none !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: white;
}

.info {
  align-items: center;
  margin: 5px;
  display: flex;
}

.name {
  margin-right: 5px;
  color: gray;
}

.image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.date {
  font-size: 12px;
  color: rgb(70, 62, 62);
}

.content {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.relation {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.input-comment {
  margin: 10px;
  padding: 5px;
  height: 30px;
  background-color: rgb(226, 243, 241);
  border-radius: 10px;
}

.link {
  text-decoration: none;
}